h1, h2, h3, h4{
  margin: 0;
}
ul{
  margin: 0;
  list-style: none;
  padding: 0;
}
button{
  outline: none;
  text-shadow: none;
}
a{
  text-decoration: none;
}
body{
  background-color: #f1f1f1;
}
