@function rem($size) {
  $remSize: $size / $font-size;
  @return #{$remSize}rem;
}
@mixin line-limit($lines, $height){
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  line-height: $height;
  max-height: $height*$lines;
}
@mixin icon($wid:auto, $hei:auto, $pos:0px 0px){
  width: $wid;
  height: $hei;
  display: inline-block;
  vertical-align: middle;
  background-position: $pos;
}
@mixin translate($x: '0', $y: '0'){
  -webkit-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
      transform: translate($x, $y);
}
@mixin placeholder(){
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

@mixin clearfix {
  &:before,
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}
@mixin no-select{
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
        user-select: none;
}

@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin column($num, $gap){
  -moz-column-count: $num;
  -moz-column-gap: $gap;
  -webkit-column-count: $num;
  -webkit-column-gap: $gap;
  column-count: $num;
  column-gap: $gap;
}
@mixin media($size){
  @if $size == xxs{
    @media(max-width: 450px){ @content; }
  }
  @if $size == xs{
    @media(max-width: 767px){ @content; }
  }
  @if $size == sm{
    @media(min-width: 768px) and (max-width: 991px){ @content; }
  }
  @if $size == md{
    @media(min-width: 992px) and (max-width: 1199px){ @content; }
  }
  @if $size == lg{
    @media(min-width: 1200px){ @content; }
  }
  @if $size == xlg{
    @media(min-width: 1400px){ @content; }
  }

  @if $size == small{
    @media(max-width: 991px){ @content; }
  }
  @if $size == large{
    @media(min-width: 992px){ @content; }
  }
}
