#app {
    height: 74vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
    button {
      background: #224e6b;
      color: white;
      text-align: center;
      padding: 12px;
      border-radius: 30px;
      border: 1px solid #cccccc;
      font-weight: bold;
      margin: 0 auto;
      display: block;
    }
    .data-info {
      margin: 30px 0;
      li {
          display: flex;
          margin-bottom: 20px;
          border-bottom: 1px solid #8bb8d6;
          align-items: center;
          min-height: 40px;
      }
    }
    .fa-arrow-down {
      color: #d46161;
    }
    .fa-arrow-up {
      color: #69de69;
    }
}
.flex-wrap {
    display: flex;
    font-weight: bold;
}
