.home{
  .banner{
    width: 100%;
    margin-bottom: 50px;
    ul{
      width: 100%;
      margin: 0;
      padding: 0;
      li{
        width: 100%;
        img{
          max-width: 100%;
        }
      }
    }
  }
  .blocks{
    .box{
      background: $second-color;
      padding: 25px;
      text-align: center;
      color: white;
      border-radius: 5px;
      min-height: 350px;
      img{
        width: 80px;
      }
      &.box-1{
        background: #3C649E;
      }
      &.box-2{
        background: #E26D21;
      }
      &.box-3{
        background: #215095;
      }
      &.box-4{
        background: #E2BB21;
      }
    }
  }
}
