<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ClouDIA</title>
    <link rel="stylesheet" href="http://www.landmarkmlp.com/js-plugin/owl.carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="http://www.landmarkmlp.com/js-plugin/owl.carousel/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://use.fontawesome.com/ce7dbe34ba.js"></script>
  </head>
  <body>
    {% block content %}{% endblock %}
    <script type="text/javascript" src="http://www.landmarkmlp.com/js-plugin/owl.carousel/assets/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="http://www.landmarkmlp.com/js-plugin/owl.carousel/owl-carousel/owl.carousel.js"></script>
    <script>
      $(document).ready(function() {
        $(".banner-list").owlCarousel({
          autoPlay: 3000,
          items : 1
        });
      });
    </script>
  </body>
</html>
