<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-5">
        <img src="assets/images/logo2.png" width="120" alt="Cloudia">
      </div>
      <div class="col-xs-12 col-md-7">
        <nav class="footer-menu">
          <ul class="list list-inline">
            <li>
              <a href="../index.html">Home</a>
            </li>
            <li>
              <a href="../index.html">Sobre</a>
            </li>
            <li>
              <a href="../faq.html">FAQ</a>
            </li>
            <li>
              <a target="_blank" href="https://www.facebook.com/projetcloudia">Contato</a>
            </li>
            <li>
              <a  href="../dashboard.html" class="btn btn-primary">Dash</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
