.footer{
  border-top: 1px solid #ccc;
  padding: 15px 0;
  margin-top: 50px;
  .footer-menu{
    margin-bottom: 0;
    height: 35px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    ul{
      margin-bottom: 0;
    }
  }
}
