.header{
  background: $primary-color;
  padding: 15px 0;
  .main-menu{
    margin-bottom: 0;
    height: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    ul{
      margin-bottom: 0;
      li{
        a{
          color: white;
        }
      }
    }
  }
}
