{% extends 'partial/default.html' %}
{% block content %}
{% include 'partial/header.html' %}

<section class="dashboard" id="app">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <button type="button" name="button" v-if="button == true" v-on:click="startDash()">Mostrar dados</button>

        <div class="data" v-if="ok == true">
          <div class="flex-wrap">
            <div class="cityName col-xs-12 col-md-3">
              Cidade
            </div>
            <div class="waterStatus col-xs-12 col-md-3">
              Qualidade
            </div>
            <div class="badnessIndex col-xs-12 col-md-3">
              Índice de Poluição
            </div>
            <div class="waterLevel col-xs-12 col-md-3">
              Nível de água
            </div>
          </div>

          <ul class="data-info">
            <li v-for="item in items">
              <div class="cityName col-xs-12 col-md-3">
                ${ item.city }
              </div>
              <div class="waterStatus col-xs-12 col-md-3">
                ${ item.waterStatus }
                <i class="fa fa-arrow-up" aria-hidden="true" v-if="item.waterStatus == 'Nice'"></i>
                <i class="fa fa-arrow-down" aria-hidden="true" v-else></i>
              </div>
              <div class="badnessIndex col-xs-12 col-md-3">
                ${ item.badnessIndex }
              </div>
              <div class="waterLevel col-xs-12 col-md-3">
                ${ item.waterLevel }
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script>
    let app = new Vue({
      el: '#app',
      delimiters: ["${","}"],
      data: {
        items: [
          {city: "Porto Alegre", waterStatus: "Bad", badnessIndex: 17, waterLevel: "Much water wow"},
          {city: "Otawa", waterStatus: "Nice", badnessIndex: 0, waterLevel: "Frozen Water"},
          {city: "Alvorada", waterStatus: "Horrible", badnessIndex: 23, waterLevel: "Our water got shot"},
          {city: "Montreal", waterStatus: "Nice", badnessIndex: 3, waterLevel: "Okay water"},
          {city: "Niagara Falls", waterStatus: "Nice", badnessIndex: 2, waterLevel: "Falling water"},
          {city: "Viamão", waterStatus: "Bad", badnessIndex: 20, waterLevel: "Our water got shot"}
        ],
        ok: false,
        button: true
      },
      methods: {
        startDash: function() {
          this.ok = !this.ok
          this.button = false;
        }
      }
    })
    setInterval(function() {
      app.items.map(function(i) {
         var newNumb = Math.floor(Math.random() * 20) + 1;
         i.badnessIndex = newNumb;
         if (newNumb <= 10){
           i.waterStatus = "Nice";
         } else {
           i.waterStatus = "Bad";
         }
         app.items.sort(function(a, b) {
            return parseInt(a.badnessIndex) - parseInt(b.badnessIndex);
         });
     });
   }, 3000)
  </script>
</section>

{% include 'partial/footer.html' %}
{% endblock %}
