{% extends 'partial/default.html' %}
{% block content %}
  {% include 'partial/header.html' %}
  <section class="faq">
    <div class="container">
      <h1>Perguntas Frequentes</h1>
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li>
              <h3>Qual é o objetivo de ClouDIA?</h3>
              <p>O principal objetivo do projeto é reunir dados de projetos em todo o mundo em uma variedade de campos científicos, a fim de um dia talvez estabelecer relações e melhorar o nosso mundo.</p>
            </li>
            <li>
              <h3>Como faço para doar?</h3>
              <p>Nós realmente apreciamos que pretenda contribuir para ClouDIA, mas, infelizmente, no momento, não estamos prontos para aceitar doações.</p>
            </li>
            <li>
              <h3>Como faço para criar uma conta?</h3>
              <p>Basta clicar aqui e preencha o formulário para começar na plataforma de nuvem.</p>
            </li>
            <li>
              <h3>Como faço para logar-me?</h3>
              <p>Você precisa de uma conta para se ligar à plataforma ClouDIA. Clique aqui para criá-lo agora!
Se você tem uma conta basta fazer login em here para aceder à plataforma.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  {% include 'partial/footer.html' %}
{% endblock %}
