{% extends 'partial/default.html' %}
{% block content %}
  {% include 'partial/header.html' %}
  <div class="home">
    <div class="banner">
      <ul class="banner-list">
        <li>
          <a href="#">
            <img src="assets/images/banner-2.jpg" alt="Banner">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="assets/images/banner-3.jpg" alt="Banner">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="assets/images/banner-1.jpg" alt="Banner">
          </a>
        </li>
      </ul>
    </div>

    <div class="blocks">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="box box-1">
              <img src="assets/images/bloco-home-4.png" alt="Ambiente">
              <h3>Ambiente</h3>
              <p>
                O principal objetivo do projeto é reunir dados de projetos em todo o mundo em uma variedade de campos científicos, a fim de um dia talvez estabelecer relações e melhorar o nosso mundo !
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="box box-2">
              <img src="assets/images/bloco-home-3.png" alt="Nuvem">
              <h3>Nuvem</h3>
              <p>
                Ao oferecer acesso fácil e vizualisation de dados, é nossa esperança que os cientistas de todo o mundo vão ver as suas tarefas diminuiu e que as pessoas vão perceber exatamente o que está errado eo que é bom com o seu environnement.
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="box box-3">
              <img src="assets/images/bloco-home-2.png" alt="Internacional">
              <h3>Internacional</h3>
              <p>
                Uma vez que todos podem acessar dados para os projectos que lhes sejam próximas, esperamos para ver grupos de formação e unir forças para melhorar a qualidade de suas vidas, bem como as suas comunidades.
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="box box-4">
              <img src="assets/images/bloco-home-1.png" alt="Sensores">
              <h3>Sensores</h3>
              <p>
                Sensores estão no centro de ClouDIA, que visa recolher dados e torná-lo socialmente útil. Sensores estão no centro de ClouDIA, que visa recolher dados e torná-lo socialmente útil.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'partial/footer.html' %}
{% endblock %}
